        /* hero text */
        
        .search-text {
            text-align: center;
        }
        
        .search-text h1 {
            font-size: 3rem;
            color: var(--primary-color);
            font-weight: 500;
        }
        
        .search-text h2 {
            color: var(--background-color);
        }
        
        .search-text cite {
            color: var(--main-green);
        }
        /* search details */
        
        .search-recipe {
            margin: 3.1rem 1rem;
            display: flex;
            align-items: stretch;
        }
        
        .search-container,
        .search-button {
            width: 100%;
        }
        
        .search-container {
            font-size: 1.1rem;
            font-family: inherit;
            outline: 0;
            color: var(--primary-900);
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }
        
        .search-container::placeholder {
            color: var(--primary-100);
        }
        
        .search-recipe ::placeholder {
            font-family: inherit;
            color: var(--header-light);
            letter-spacing: 2px;
            margin-left: 20px;
        }
        
        .search-button {
            width: 62px;
            height: 64px;
            font-size: 1.8rem;
            background: var(--primary-300);
            color: #fff;
            border: none;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            transition: all 0.4s linear;
            -webkit-transition: all 0.4s linear;
            -moz-transition: all 0.4s linear;
            -ms-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
        }
        
        .search-button:hover {
            background: var(--primary-200);
        }